*{
	box-sizing:border-box;
	padding:0px;
	margin:0px;
	font-family:monospace;
}
body{
	color:#bfd1df;
	/*background-image:url("https://media.tenor.com/x8v1oNUOmg4AAAAd/rickroll-roll.gif");*/
	background-image:url("https://cdn.wallpapersafari.com/88/1/7ckIuG.jpg");
	background-repeat:no-repeat;
	
}
header{
	background-color:#1c1c1c;
	color:#e6e6e6;
	text-align:center;
	padding:1.5rem;
	font-size:20px;
	display:flex;
	justify-content:center;
	align-items:center;
	opacity:90%;
}
form{
	width:65%;
	background-color:#1c1c1c;
	color:#e6e6e6;
	margin:10px;
	padding:10px;
	border:2px solid #1c1c1c;
	border-radius:20px;
	opacity:80%;
}
main{
	display:flex;
	justify-content:center;
	align-items:center;
}
fieldset{
	border:2px ridge #e6e6e6;
	border-radius:10px;
}
fieldset#f3{
	display:flex;
	justify-content:center;
}
label{
	display:flex;
	padding:10px;
	align-content:center;
}

input,textarea{
	background-color:#ced2c2;
	border:5px solid #ced2c2;
	border-radius:10px;
	padding:4px;
}

input[type="submit"]{
	border:5px solid #ced2c2;
	border-radius:10px;
	background-color:#ced2c2;
	padding:5px;
	font-family:monospace;
	margin:5px 10px 10px 10px;
	color:#1c1c1c;
	
}
input[type="reset"]{
	border:5px solid #f1c5ae;
	border-radius:10px;
	background-color:#f1c5ae;
	padding:5px;
	font-family:monospace;
	margin:5px 10px 10px 10px;
	color:#1c1c1c;
}
.buttons:hover{
	opacity:60%;
}

span{
	font-size:32px;
	margin:10px;
	font-weight:bold;
}

#logo{
	font-size:60px;
	margin:5px;
	font-weight:400;
}
legend{
	text-align:center;
	padding:5px;
	font-size:16px;
}
div.element{
	display:flex;
	align-items:center;
margin:6px;
}
label.element{
	width:200px;
}